body{
  
  color: red;
  text-align: center;
}

.time-wrapper{
  font-size: 5em;
  font-family: monospace;
  text-align: center;
  margin-top: 100px;
}

.Start{
	display: inline-block;
	-webkit-apperance: none;
	background-color: navy;
	color: white;
	padding: 16px 24px;
	border-radius: 4px;
	font-size: 18px;
	


}

.Stop{

	display: inline-block;
	-webkit-apperance: none;
	background-color: red;
	color: white;
	padding: 16px 24px;
	border-radius: 4px;
	font-size: 18px;

}

.Stop:hover{
	color:black;
	background-color: gold;
}

.Start:hover{
	color: gold;
	background-color:black; 
}

